<div class="flex items-center justify-center py-10 opacity-60">
    <div class="h-[1px] w-24 bg-gradient-to-r from-transparent to-[#C5A059]"></div>
    <svg class="w-12 h-12 text-[#C5A059] mx-4" viewBox="0 0 24 24" fill="currentColor">
        <path d="M12,2L9.5,5L12,8L14.5,5L12,2M6,8.5L3.5,11L6,13.5L8.5,11L6,8.5M18,8.5L15.5,11L18,13.5L20.5,11L18,8.5M12,13L9.5,16L12,19L14.5,16L12,13M6,18.5L3.5,21L6,23.5L8.5,21L6,18.5M18,18.5L15.5,21L18,23.5L20.5,21L18,18.5Z" />
    </svg>
    <div class="h-[1px] w-24 bg-gradient-to-l from-transparent to-[#C5A059]"></div>
</div>